[2015-04-10 22:19] analogue opened #1 "Add support for allowEmptyValue in request parameters"
The `allowEmptyValue` request parameter seems to have appeared in the spec out of of nowhere. Shouldn't been too hard to add support for it.

https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md

[2015-04-13 19:01] anthonymayer opened #4 "Documentation link is broken"
http://bravado-core.readthedocs.org shows a 404 page on readthedocs

[2015-04-13 20:14] prat0318 commented on #1
With the `typeValidator` now skipping `None` values for type validation, i think we assume that `allowEmptyValue` is True in every case. So do we explicitly need to handle this, in which case we would need to remove the `typeValidator` leniency patch that was added. Or am i missing something?

[2015-04-13 22:23] analogue commented on #1
Upon closer inspection, the docs aren't exactly clear in the intended behavior. Going to see if I can get clarification

[2015-04-14 22:14] prat0318 commented on #4
Fixed.

[2015-04-14 22:14] #4 closed

[2015-04-15 22:35] analogue opened #7 "Add support for allOf which enables model inheritance and composition"
https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#composition-and-inheritance-polymorphism

[2015-04-23 16:22] analogue opened #10 "Support for python 3.x"
https://github.com/striglia/pyramid_swagger would benefit from 3.x support.

Partial progress made here: https://github.com/analogue/bravado-core/tree/py3x_support

[2015-04-23 16:43] dnephin commented on #10
http://pythonhosted.org/six/ can be helpful for dealing with differences like long vs int, and text types

[2015-04-26 18:18] analogue opened #11 "Update sphinx generated documentation"
The current sphinx generated documentation doesn't take into account the splitting of swagger-py into bravado and bravado-core.  Update the bravado-core docs to reflect usage of the library in both client-side and server-side scenarios.

[2015-05-13 18:10] analogue opened #15 "Provide config option to toggle the use of models"
Introduce a configuration option that toggles the use of models in incoming requests (server-side) and incoming responses (client side).  This is primarily for backwards compatibility with swagger-py 0.7.5 behavior.

When ```use_models``` is ```True```, references to ```#/definitions/{models}``` will be returned as model types. When ```False```, a dict will be used instead.

In ```bravado_core.spe

[2015-05-19 20:12] dnephin commented on #15
This is in master

[2015-05-19 20:12] #15 closed

[2015-05-19 20:16] dnephin opened #17 "Refactor HTTP invocation to bravado"
Just surfacing a TODO from [bravado_core/operation.py#L165](https://github.com/Yelp/bravado-core/blob/f93f884e5b09761d4f82f73dda1e56806f858a31/bravado_core/operation.py#L165) as a ticket.

Pretty low priority

[2015-05-19 23:12] dnephin opened #18 "Inline schema failed to validate"
I'm not sure if this is expected or not, I tried to create a response with an inline schema, something like this:

[code]

But I got

`SwaggerMappingError: ("No proper type could be found from {'properties': {'id': {'type': 'integer'}}}", None)`

From what I can tell, this should be valid under https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#schema-object

Moving it to a $r

[2015-05-19 23:14] analogue commented on #18
I have a feeling "type": "object" is often assumed to be implicit when not specified.  Try adding it under "schema"

[2015-05-19 23:18] dnephin commented on #18
Yup, that worked, thanks!

[2015-05-22 16:56] analogue opened #19 "Refactor exception hierarchy"
Currently, bravado-core raises three types of exceptions when errors are encountered:
- SwaggerMappingError
- TypeError
- Exception

When either TypeError or Exception is raised, it is hard for a user of the library to determine if the error is Swagger related or a general Python error.  Replace TypeError and Exception with bravado-core specific exceptions that conform to a hierarchy with SwaggerE

[2015-05-26 17:04] #19 closed

[2015-06-04 17:57] prat0318 commented on #18
Closing it for now.

[2015-06-04 17:57] #18 closed

[2015-06-09 17:29] #10 closed

[2015-06-11 21:14] DanielJomphe opened #25 "UnicodeEncodeError on accentuated characters"
Hi, I observed this issue about accentuated characters (like `è`) in the following situations:

1. Descriptions that are going to become docstrings.
2. Response bodies.
3. Request parameters and bodies (potentially; I'm yet to try this one.)

That's with 1.0.0-rc2, downloaded 3 days ago, on 2015-06-08.

Here's an example of situation 1:

[code]

Here's the [minimal situation 1's swagger.json](http

[2015-06-18 20:27] analogue commented on #25
@DanielJomphe Thanks for reporting the issue :-)

I'll work on getting a fix for this in before the 1.0.0 release.

[2015-06-19 19:05] DanielJomphe opened #27 "Unmarshaling responses more flexibly"
Hi, do you plan to expose:

1. response headers
2. response body as non-json (is this [TODO][todo] still planned for?)

[todo]: https://github.com/Yelp/bravado-core/blob/b64f426a47733de460ca89c3741b50dcfceecbf0/bravado_core/response.py#L99

As we look to use Bravado, both those features would be quite important for us.

That said, it looks like supporting response headers would require wrapping th

[2015-06-23 22:21] analogue commented on #25
FYI, unicode in response bodies worked just fine for me. Wasn't able to reproduce the error.

[2015-06-25 00:30] analogue commented on #25
Right, so #29 fixes unicode path params in the request.  Request query params and form params also  verified to be working already.

[2015-06-26 14:09] DanielJomphe commented on #25
I upgraded to Bravado 1.0.0 and Bravado-core 1.1.0.

I'm sorry to report there are still issues with Model docstrings, which I didn't remark earlier.

[code]

Also, the errors in Responses are still there:

[code]

[2015-06-26 16:26] analogue commented on #25
Can you attach your Swagger schema for the "errors in Response"?

[2015-06-26 16:45] DanielJomphe commented on #25
I extracted only the relevant parts, hoping it's all that's required:

[Raw Gist](https://gist.githubusercontent.com/DanielJomphe/a31703ed99f9d631fdde/raw/44c73e52a5bac6ae89fc4c243d102ec281639cf4/swagger_get_domaines_401)

[code]

[2015-07-09 22:05] prat0318 opened #32 "Add UserFormatterLike interface"
This is to be called from `pyramid_swagger` during [init](https://github.com/striglia/pyramid_swagger/blob/master/pyramid_swagger/__init__.py#L13)

Roughly interface should look like:

[code]

and a method similar to `register_format` defined [here](https://github.com/Yelp/bravado-core/blob/master/bravado_core/formatter.py#L12):
[code]

[2015-07-09 23:08] analogue commented on #32
I guess you could do something like that but it seems a little more than necessary for a pretty static interface.  Add to that you're creating two ways to do the same thing. I'd suggest something more minimal along the lines of
[code]
and then wire it into [primitive validation] (https://github.com/Yelp/bravado-core/blob/master/bravado_core/validate.py#L31).  This should adhere to whether validati

[2015-07-15 16:39] #17 closed

[2015-07-17 23:01] #32 closed

[2015-07-22 14:40] laucia opened #35 "Recursive Model Definition is not correctly handled"
A simple recursive model definition like this
[code]

Leads to this exception

[code]

As nothing in the swagger spec advise against recursive model definitions and the canonical swagger-codegen [handles it](https://github.com/swagger-api/swagger-codegen/issues/728), this should also work in bravado.

[2015-08-11 02:12] prat0318 opened #40 "jsonref dereference happening two times, leading to failures."
Following `swagger.json` fails:

[code]

and `param.json` being:
[code]
(To run the example, MENTION full `file://` address of `param.json` in above `swagger.json`)

The issue being dict gets dereferenced twice, once during `from_dict` [init](https://github.com/Yelp/bravado-core/blob/49a322f5aec84f7c50409c136f82888ed96b26f0/bravado_core/spec.py#L88) and later when it calls build, and then [validat

[2015-08-11 02:13] prat0318 commented on #40
Error trace:
[code]

[2015-08-11 16:18] analogue commented on #27
I think this is a pretty important feature to have for more complicated use cases. Implementing it without breaking backwards compatibility might be hard to do.

The return value of result would have to fundamentally change.
[code]

Introducing an API to install a result transformer that unpacks the (result, response) tuple and returns only the result might be doable to retain backward compatibili

[2015-08-11 21:54] #40 closed

[2015-08-12 13:13] DanielJomphe commented on #27
The proposed change to the return value allows users to use any standard tool they could want to use on the standard response, on top of all that Bravado offers.

Since we're speaking about consuming HTTP services, I think it's very fair to break the API thusly to simplify so much any custom use case tied with Bravado usage.

We here certainly don't mind such a breakage.

PS we've tested Bravado f

[2015-08-12 18:23] prat0318 opened #42 "Support yaml format for swagger spec as well"
Currently we support swagger spec in `json` format. It will be nice to have `yaml` support as well. I think it precedes Yelp/bravado#168

[2015-08-12 18:38] prat0318 opened #43 "Send origin_url across to jsonref to resolve relative $ref"
If origin_url is not `None`, pass it across to `jsonref` so that it can resolve relative `$ref`.

Related changes should be [here](https://github.com/Yelp/bravado-core/blob/master/bravado_core/spec.py#L88) with passing `base_uri= origin_url`.

[2015-08-13 20:31] prat0318 opened #45 "Also tag models with external references."
Currently only models present in `#/definitions` get tagged with `x-model: <model name>` and get used during marshalling/unmarshalling for type conversion to a python class versus a dict. Other models referred using `file://` or `http://` should also be treated in the same manner.

There can be cases where `$ref` refers to a complete file, like shown [here](https://github.com/swagger-api/swagger-s

[2015-08-13 20:51] #43 closed

[2015-08-28 02:04] prat0318 opened #46 "'type' is forced by bravado-core to be present in definitions"
If `definitions` object does not contain a `type` field, `validate` method throws up like so:

[code]

From the [spec](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#definitions-object) it does not look like 'type' key presence should be mandated. Instead it should be defaulted to 'object' is properties field is non-empty imo. Also, `swagger-converter` does not add `type:

[2015-08-28 02:08] prat0318 commented on #46
Also, editor.swagger.io's petstore-simple has no `type: object` for all its definitions.

[2015-08-28 18:28] prat0318 commented on #46
As per ron from swagger: ` it's not mandatory in schema definition, but it is highly recommended (I'll fix the examples). Not having a type has an unexpected meaning to most users.`

[2015-09-24 15:42] jpizarrom opened #47 "Add allow_null option"
Add allow_null option like
https://github.com/Yelp/bravado-core/blob/632a0f9a9ec0a3fe5c996e932b01fec9a1c933d8/docs/source/quickstart.rst#advanced-options

[2015-09-24 17:54] jpizarrom commented on #47
It's posible to use x-nullable like propose in https://github.com/swagger-api/swagger-spec/issues/229

The use of x-nullable respect the spec https://github.com/swagger-api/swagger-spec/blob/d79c205485d702302003d4de2f2c980d1caf10f9/versions/2.0.md#patterned-objects

example of a property
[code]

[2015-09-24 18:18] jpizarrom commented on #47
https://github.com/admetricks/bravado-core/commit/9360ff2e7fcee14069b2f4b0ae267e3047901586

[2015-09-24 20:20] analogue opened #48 "Validation of user defined formats only works for primitive schemas"
Given:
[code]
This works for schema:
[code]
But doesn't work for nested primitives:
[code]
This is because validation is outsourced wholesale to `Swagger20Validator` which is not aware of the registered `SwaggerFormat`s.  Few options here:
1. Figure out how to hook the SwaggerFormat validation functions into Swagger20Validator which in turn uses `jsonschema` (best)
2. Make another pass over the sc

[2015-09-29 14:09] analogue opened #50 "User-defined formats should be tied to a Spec (not global)"
Currently, user-defined formats are defined globally.  This is not ideal when a python client process interfaces with more than one Swagger service with a different set of user-defined formats applying to each service.  In the worst case, the same format name may be used with differing implementations.

Associate user-defined formats with a `bravado_core.spec.Spec` instead.

[2015-09-30 20:30] #48 closed

[2015-10-07 16:35] analogue commented on #50
Released in 3.0.0

[2015-10-07 16:35] #50 closed

[2015-10-07 18:16] laucia opened #53 "File upload is too aggressive"
[code]
results in `{'files': [('photo', ('photo', None))]}`

feels like this should be `{}` as this results in bravado always trying to upload an empty/inexisting file if it is defined in the spec, which doesn't play well with most bravado clients (`Fido` and `RequestsClient`).

[2015-10-08 00:22] prat0318 commented on #53
I am wondering if `add_file` should throw up if `value` is not of `file type` instead of just ignoring it (as per the PR).

[2015-10-08 06:26] laucia commented on #53
That's would then also require to refactor [construct_params](https://github.com/Yelp/bravado/blob/2ef80ee77c48e63186613d681b7a914d78ee0d84/bravado/client.py#L212) in bravado to handle it
[code]
the last line will now raise when no file is given in the `op_kwargs` instead of "just working".

[2015-10-08 16:28] bpicolo commented on #53
@prat0318  `if value is not of file type` is a bit less obvious in py3, keep in mind. Make sure it has some .read() for bytes or whatnot is the tell

[2015-10-08 18:44] prat0318 commented on #53
@laucia my opinion is that if `validate_requests` is set, the validation is done [here](https://github.com/laucia/bravado-core/blob/do_not_add_files_when_no_file/bravado_core/param.py#L112) and if it does not throw up when `value` doesn't "look" like a `file` then that is a bug, which should be fixed.

Isn't it an undesired behavior? Why should it just work?

@bpicolo agreed.

[2015-10-08 21:44] laucia commented on #53
So, just to be clear I found out that we bravado was setting some files to None when not provided the hard way. I'm not super sure who (or what) is adding `None` in the first place, so rather than following the full intrication of `bravado_core` and `bravado` client calls, I thought it couldn't hurt to add a guard there which would made bravado usable with files. In the meanwhile I had to rewrite

[2015-10-09 15:20] analogue commented on #45
Fixed in 3.0.1

[2015-10-09 15:20] #45 closed

[2015-10-09 15:29] analogue commented on #11
The bravado docs have been deleted. I'll be adding new sections as time permits.

[2015-10-19 16:20] analogue commented on #35
This is not going to be a simple fix. Just some notes:
- swagger_spec_validator and bravado_core both need this functionality
- jsonschema doesn't support validation of json documents with external refs (local refs are ok) which is a necessary feature
- usage of jsonref will have to be removed entirely since it doesn't support cyclic refs
- all call sites that may encounter a ref need to resolve t

[2015-11-18 00:15] analogue commented on #46
The fix for #35 makes it so 'type' is required. The rationale being, definitions split up across multiple files are a little more involved to go track down and check for compliance. This is no longer just a matter of checking `#/definitions` in the root spec.

[2015-11-18 00:15] #46 closed

[2015-11-18 00:16] analogue commented on #35
Fix in 4.0.0

[2015-11-18 00:16] #35 closed

[2015-11-18 00:18] analogue commented on #11
Docs are in pretty good shape now.

[2015-11-18 00:18] #11 closed

[2015-11-24 20:43] prat0318 opened #60 "Raise helpful message when `type` is not found for a definition"
Current message for [the error](https://github.com/Yelp/bravado-core/blob/4840a6e374611bb917226157b5948ee263913abc/bravado_core/validate.py#L35) looks like this:
`Unknown type None for value {u'WED': {u'time_start': 9, u'time_end': 22}}`
for a definition:
[code]
It is better to instead show the spec definition which is faulty instead of the request value.

[2015-11-24 22:05] analogue commented on #60
Both should be in the error message.

[2015-12-03 17:40] andreashug commented on #47
This would be great. I'm using Swagger to build a client for a third-party API so changing it to match with the specification is not an option.

Would you accept a pull request with tests and documentation?

[2015-12-03 20:26] analogue commented on #47
I'm a little concerned that the next version of the Swagger Spec will start to support this behavior but in a possibly different way.  Anyone know what the plans are for this feature in the working group?

Maybe @webron can chime in here?

[2015-12-03 20:30] webron commented on #47
I'm afraid I don't have a clear answer to that as the official discussions haven't started. Right now, it's just the community chiming in. Haven't thoroughly investigated it, but it is possible we'll have a property that's `isNullable` or something like that which would default to either true or false.

[2015-12-08 15:06] msander commented on #46
Why can't we just guess the type based on the given keywords if it is not defined?

http://json-schema.org/latest/json-schema-validation.html

e.g.
properties -> object
items -> array
else -> string

I'm using Restlet Studio for designing my API and it also doesn't generate these 'type' values.
(I already dropped them a mail, but I think there might be more tools which could make problems here)

[2015-12-11 22:26] seanfarley commented on #7
Just ran into this issue. Any word on this?

[2015-12-11 23:40] seanfarley commented on #7
For what it's worth, I attend the Python meet-ups at Yelp if I could help out with implementing this.

[2015-12-11 23:43] analogue commented on #7
No one has requested or needed this feature yet. Feel free to submit a well unit tested PR.

[2015-12-11 23:47] seanfarley commented on #7
Eek, that's a bit out of scope for my work (this is just a side project for me). I can try to help but my main goal is to just have a client library for Bitbucket:

https://api.bitbucket.org/swagger.json

[2015-12-11 23:47] analogue commented on #47
@andreashug Feel free to submit a PR

[2015-12-24 06:14] captin411 commented on #7
+1 - if no one has volunteered I will give it a shot

[2015-12-24 22:15] seanfarley commented on #7
Well, the whole point of using this was to get models to work. For the time being, I won't have any time to work on this. Please feel free to pick it up.

[2015-12-29 05:54] captin411 commented on #7
@seanfarley take a look at my pull request #63  - hope that works for you.  It works in the case I needed.

[2015-12-29 06:35] captin411 commented on #7
@seanfarley I also took a look at the bitbucket swagger specification and they use the "discriminator" property quite extensively ... I did not implement support for that though I could at a later time.

[2015-12-29 20:47] seanfarley commented on #7
Cool, I'll try to take a look later :-)

[2016-01-15 18:37] JoelO opened #66 "Validation fails for arrays of non-strings when using the "multi" collection format"
Examples of failed validation:

When queried with `value=2`
[code]

and when queried with `value=2&value=1`
[code]

[2016-01-29 22:55] watterso opened #68 "unintuitive behavior when a param does not have a value"
A request such as `example.com/path_to_resource?bool_flag=` where the type of `bool_flag` is `boolean`, the value of `bool_flag` would be set to `False` and if the type was `integer` or `number` the value would be set to `''` (empty string). This behavior seems arbitrary and unintuitive.

I propose their values be set to `None`, as no value was provided. A caveat however, string types would remain

[2016-02-19 01:52] #68 closed

[2016-02-19 02:00] watterso opened #70 "casting of boolean values doesn't work"
See the below code excerpt from `bravado_core/param.py` for proof.
`param_value` comes in as a string, using `bool()` as a casting function would result in the following behavior:
* `bool('non-empty-string') == True`
* `bool('') == False` (doesn't happen because None is returned if `param_value == ''`)
[code]

[2016-02-24 23:18] #70 closed

[2016-02-25 19:12] striglia opened #74 "Content-Type mismatch crashes bravado-core's unmarshal method"
Creating a request like:
[code]

and calling unmarshal_request throws this error:
[code]

[2016-03-01 21:13] jacobstr opened #77 "Unmarshaling request with non-required enum fails"
`unmarshal_request` delegates to `bravado_core.validate.validate_primitive` which fails validation when `None` is passed in for a non-required parameter.

[code]

I've pushed a branch with a test that captures this:

https://github.com/jacobstr/bravado-core/tree/validate-non-required-enum

[2016-03-01 21:49] analogue commented on #77
Swagger doesn't support passing null as a value.  Hence, if the parameter is not required, the parameter is not present in the first place.

[2016-03-01 22:00] jacobstr commented on #77
In that case, should `unmarshal_request` be iterating over non-required parameters that haven't been provided?

[2016-03-01 22:13] analogue commented on #77
Yes, how else would it know to use the `default` value if one is provided in the schema in the absence of the non-required parameter?

[2016-03-01 23:05] jacobstr commented on #77
Perhaps I'm simply using the API incorrectly - the ultimate intent is to be able to use `unmarshal_request` against an endpoint that has an optional string parameter in the query.

[code]

Suppose that ListThings has a `category` enum. If the request.query dictionary is an empty dictionary, `unmarshal_request` will fail.

[2016-03-01 23:32] analogue commented on #77
Ok, I think I see what you mean. Looks like the [enum validator](https://github.com/Yelp/bravado-core/blob/master/bravado_core/swagger20_validator.py#L58) may need some additional code to handle this case.

[2016-03-02 18:05] analogue commented on #66
Fixed in 4.1.0

[2016-03-02 18:05] #66 closed

[2016-03-02 18:05] analogue commented on #42
Feature added in 4.1.0

[2016-03-02 18:05] #42 closed

[2016-03-07 21:37] analogue opened #78 "x-scope annotations on server side shouldn't be sent to the client"
See internal ticket GSI-252 for the details.

Basically, x-scope annotations that reference `file://` type urls are being sent to the client which then tries to use the `file://` type urls to resolve $refs.  The x-scope annotation should not be part of the swagger.json sent to the client.

The error surfaces on the client side in an exception that closely resembles:

```RefResolutionError: <urlope

[2016-03-10 18:55] analogue commented on #78
Fixed in 4.2.0

[2016-03-10 18:55] #78 closed

[2016-03-21 22:22] #77 closed

[2016-03-21 22:32] analogue opened #82 "Fix ref resolution during response validation"
Ref resolution during response validation sometimes fails because of where the validation starts. For refs to resolve 100% of the time, the scope maintained by jsonschema's RefResolver has to be rooted at `/` in swagger.json, not at the response_spec fragment that is currently passed to the `validate_response(..)` function.

Luckily, the full scope is available as `x-scope` annotations in the spec

[2016-03-21 22:32] analogue commented on #82
fyi, @sjaensch

[2016-03-23 16:43] #82 closed

[2016-03-23 17:05] analogue commented on #82
Fixed in 4.2.1

[2016-03-23 17:06] analogue commented on #77
Fixed in 4.2.1

[2016-04-06 23:08] bwarfield-amplify opened #88 "Badly formatted string inputs cause ValueError instead of SwaggerMappingError"
Given a `string` value that has a `date-time` format, an incorrectly formatted input (say, "string") will cause `dateutil.parser.parse` to raise `ValueError: Unknown string format` when unmarshalling the request.  This isn't checked anywhere, so it bubbles up as an unexpected error, rather than being reported as invalid input.

It seems like the place to check this is in `unmarshal_primitive`: the

[2016-04-07 06:17] laucia commented on #88
If this is happening just for date-time maybe we should instead update the formatter: https://github.com/Yelp/bravado-core/blob/master/bravado_core/formatter.py#L115

It would be interesting though to see why jsonschema is not picking a validation error in the first place

[2016-04-07 14:15] bwarfield-amplify commented on #88
I think that last sentence is the actual key: all of the default formats except `byte` have the same potential behavior, if they get input that isn't pre-validated, but testing invalid inputs for those (using GET requests to a pyramid_swagger-enabled app), I get JSON schema validation errors for invalid integer and number formats.  So, it looks like formatter is expecting the schema validation to

[2016-04-11 15:24] analogue opened #89 "Update docs on x-model"
http://bravado-core.readthedocs.org/en/latest/models.html#model-discovery is stale and needs to be updated.

[2016-04-11 15:41] analogue opened #90 "Consolidate public interface in the bravado_core module"
Expose the public interface of the libraray in the bravaodo_core module so that users of the library don't need to figure it out. This includes interfaces for both client and server side usage.

[2016-04-11 18:31] lucagiovagnoli opened #91 "Remove stringify_body as it is not used anymore"
Last occurrence is being removed from bravado in this PR https://github.com/Yelp/bravado/pull/204

[2016-04-22 17:01] nicksloan opened #92 "get_op_for_request seems not very helpful?"
get_op_for_request claims that it makes server implementations very easy by letting you supply a path pattern and method to look up an op.

The thing is, a server implementation is going to have a concrete path more likely than a pattern, and the server would have to implement a look up of the operation anyway to get to the point of identifying the path pattern, at which point this work has alread

[2016-04-22 21:49] analogue commented on #92
Maybe an example from pyramid_swagger would be helpful?

https://github.com/striglia/pyramid_swagger/blob/255d429c06406ed7be45fd4089892a7c4cd5d596/pyramid_swagger/tween.py#L543

[2016-04-24 20:07] nicksloan commented on #92
I see. pyramid_swagger verifies that it has the correct routes, but pyramid's routing machinery is still doing the actual work. I was going about this differently. In my project the routes are defined by the swagger spec, so essentially I'm building a swagger-based router. With that in mind, this method makes perfect sense, just not for my use case. Thanks for the link.

[2016-04-24 20:07] #92 closed

[2016-05-17 13:55] lanzz opened #94 "Missing support for multiple types"
http://json-schema.org/latest/json-schema-validation.html#anchor79

...

I take this to mean that I can use
[code]
But Bravado bombs:

Unfortunately, I can't remove the `null` type here, because I _do_ get strings and nulls in that property from my backend, and validation fails for nulls; non-required properties are expected to _not exist_ in the dictionary and do not accept a `null` value.

[2016-05-17 14:05] sjaensch commented on #94
This was already discussed e.g. in OAI/OpenAPI-Specification#458. It looks like the OpenAPI authors don't see it that way and say it's a documentation problem (i.e. it needs to be documented that OpenAPI doesn't support multiple types). Closing this issue.

[2016-05-17 14:05] #94 closed

[2016-05-17 14:16] lanzz commented on #94
If I remove `null` from the types, I'm getting

because I _am_ getting a `null` in that property. Should Bravado accept null values in non-required properties regardless of their type then?

[2016-05-17 14:23] sjaensch commented on #94
Currently there is no good way to handle this case in bravado-core; see #47.

[2016-06-09 05:11] laucia commented on #88
It seems very sane thanks for doing a pull request :)

[2016-06-09 05:11] #88 closed

[2016-07-07 22:01] wting commented on #74
This is preventing some Yelp internal services from using Swagger, can we prioritize this issue?

@tomelm has more context.

[2016-07-08 16:03] tomelm commented on #74
We're trying to use this for OAuth 2.0. As part of that spec, the requests coming in need to use an application/x-www-form-urlencoded content-type. Right now, bravado-core assumes that every request coming in is JSON, regardless of type: https://github.com/Yelp/bravado-core/blob/master/bravado_core/param.py#L178

This causes parsing errors and then it allll breaks.

[2016-07-14 00:21] AshtonMeuser commented on #7
+1

[2016-07-27 15:13] sjaensch commented on #74
@tomelm: could you give a more specific example? I don't see how you would send anything else than JSON. To send application/x-www-form-urlencoded data you would define every field you send and set the type to `formData`. See http://swagger.io/specification/#parameterObject , it mentions specifically how to describe x-www-form-urlencoded data.

[2016-08-04 09:00] sjaensch commented on #47
This is fixed with the support for the property `x-nullable`.

[2016-08-04 09:00] #47 closed

[2016-08-09 15:58] zroadhouse-rmn opened #108 "Error during unmarshal_object for x-nullable=true property"
I believe unmarshal_object code path is missing support for x-nullable. I get the following traceback when unmarshaling a property which a specification like:

[code]

Here's the stack trace:

[code]

Discussed here:

- https://github.com/Yelp/bravado/issues/172

I'm working on a PR containing a fix.

[2016-08-09 17:56] zroadhouse-rmn commented on #108
@sjaensch - Here's the ticket and PR.

[2016-08-10 15:45] zroadhouse-rmn commented on #108
Actually, marshalling is also broken. Found while writing more test cases:

[code]

[2016-08-17 12:58] #108 closed

[2016-09-05 00:42] heralight opened #114 "Cannot Produce File: generate a validation error"
Hi,
Thank you for validator, we have some trouble with it on type file, perhaps have you an idea.
When a method return a file,

[code]

This example come from :
https://raw.githubusercontent.com/BigstickCarpet/swagger-express-middleware/master/samples/PetStore.yaml

this yaml is correctly validated by http://bigstickcarpet.com/swagger-parser/www/index.html

Thank you,

Alexandre

[2016-09-09 20:30] macisamuele opened #116 "build_resource failure for root path with no tags"
The issue is related to what is reported in [bravado issue #239](https://github.com/Yelp/bravado/issues/239).

An small example of the issue is
[code]

The issue seems caused by the assumption that the path will match the following regexp ``/.+`` ([resource.py](https://github.com/Yelp/bravado-core/blob/2bcb9e1d452931e683b0c3ff7c30a9bd2ae06fa2/bravado_core/resource.py#L29))

[2016-09-17 19:55] bxm156 opened #118 "Bravado XML support"
Despite defining an API returns XML, Bravado will always try to parse the result as JSON, and thus causing it to throw an exception

It would be great if Bravado supported XML
Yelp/bravado/issues/250

Seems like the work needs to be done in this project.

https://github.com/Yelp/bravado-core/blob/master/bravado_core/response.py#L102

[2016-09-21 08:08] gamaanderson commented on #114
I'm also facing the same issue.

[2016-09-21 09:55] mahmoud opened #119 "x-scope tripping up validation?"
Hey all, ran into an issue when loading up a spec.

First of all, I'm doing

[code]

Which I hope is the right approach. The spec I'm loading is reproduced below in yaml (with some extraneous parts clipped). I get an error (at the very bottom), which seems to suggest to me that `x-scope` is causing references to not validate?

Seems far-fetched, I know; I saw all the comments about customizing the

[2016-09-21 10:47] macisamuele commented on #119
Hello @mahmoud  ... I have a look to the specs and seems that the specs are not correct.
I have checked them with [swagger editor](http://editor.swagger.io).

Try to check with this:
[code]

**NOTE:**
 * ``description`` on the [response object](http://swagger.io/specification/#responseObject) is mandatory
 * [schema object](http://swagger.io/specification/#schemaObject) (ie. ``GetAdminCampaignResp

[2016-09-25 17:12] mahmoud commented on #119
Thanks, @macisamuele, yes, I had some errors in my pasted version which weren't in the version I was testing, I'm afraid. Unfortunately I've had to reprioritize a bit and I've put a pin in openapi integration.  I still feel like we'll need something in this vein, so I will come back to this. Thank you for all your help!

PS The Swagger Editor is cool, but very frustrating! The error markers in the

[2016-09-25 17:12] #119 closed

[2016-09-27 00:00] jlumpe commented on #114
See [this](https://github.com/Yelp/swagger_spec_validator/issues/50) issue for the [swagger-spec-validator](https://github.com/Yelp/swagger_spec_validator) package. It is apparently fixed in the master branch but has not made it to release yet.

[2016-09-28 21:49] jlumpe opened #123 "Fix handling of security requirements to match spec"
For both the root swagger object and an operation object the `security` property is defined to be an array of [security requirement objects](http://swagger.io/specification/#securityRequirementObject). The official spec says the following in the description for this property:

The security requirement object is described as:

The current implementation effectively just uses a logical AND between a

[2016-10-04 22:34] tomelm commented on #74
@sjaensch I'm not entirely what sort of example you're asking for. The OAuth 2.0 spec says that content needs to be sent as `x-www-form-urlencoded` and when we tried to do that we would error due to bravaro expecting JSON to parse.

[2016-10-05 10:28] macisamuele commented on #123
@jlumpe Thanks a lot for pointing out this!
In the next days I'll work on it. It is important to be as strict as possible to the specs 😄

I would ask you to confirm if my understanding is correct.

According to the swagger specs below:
* the parameters defined for ``/example1`` are ``sec1`` as required
* the parameters defined for ``/example2`` are ``sec1`` as required and ``sec2`` as optional. We

[2016-10-06 18:18] jlumpe commented on #123
@macisamuele This looks exactly right, at least according to my understanding of the [official documentation](http://swagger.io/specification).

[2016-10-06 19:01] macisamuele commented on #123
@jlumpe 👍 thanks a lot for your double check

[2016-10-10 21:03] jkrukoff commented on #116
Just ran into this issue. Was fortunate enough to also be in control of the swagger spec, so as to be able to add a superfluous tag to my root path.

[2016-10-10 22:12] jkrukoff opened #125 "Creation of models with property named "self" fails."
When attempting to invoke an endpoint that creates a model with a "self" property, the following traceback is emitted:

[code]

It appears that the model constructor depends on passing **kwargs in, which conflicts with the initial `self` parameter for the __init__ method. This is problematic for me, as I'm building a API that uses JSON+HAL, which mandates that a property named `self` exist on all

[2016-10-27 14:26] dedominicisfa opened #129 "unspecified properties are allowed in body"
in bravado-core's features there is the possibility to validate requests. If I ask to marshal the body of a request which contain an undefined property in swagger, the body is marshalled as if I automatically specified AdditionalProperties = true. Even if I specify additionalProperties = false in swagger, I get no error and the property is marshalled as if it was specified in swagger.

[2016-10-30 15:31] #125 closed

[2016-11-13 04:10] gabisurita opened #131 "Unmarshal fails with multi-type additionalProperties"
It's quite unusual to have something like this, but given an object:

[code]

I've got this error on `pyramid_swagger`:

[code]

[2016-11-13 10:55] laucia commented on #131
Contrary to jsonschema, swagger 2.0 doesn't allow multi-typing see (https://github.com/OAI/OpenAPI-Specification/issues/458).

So the `[integer, string, boolean]` is not valid (and is interpreted as a string).

You might want to look into polymorphism for this kind of schema.

[2016-11-13 10:56] #131 closed

[2016-11-19 19:12] ocallagj commented on #114
I'm facing the same issue. I can work around by configuring Bravado to "'validate_swagger_spec': False" but when I then try to use the API that returns a file type I get an error from Bravado because the return type is not JSON compliant.
"simplejson.scanner.JSONDecodeError: Expecting value: line 1 column 1"
Thanks
John

[2016-11-30 16:40] dpopowich opened #132 "User-defined formatter validate functions have to handle None."
When defining custom formatters with SwaggerFormat, the validate function has to handle  None values. So all my validators are littered with code like this:

[code]

Shouldn't None be special-cased, left to x-nullable checking, never calling the validator when `value==None` is `True`? This is quite tedious.

[2016-12-01 20:06] asottile opened #133 "date-time to_wire doesn't validate against rfc3339"
https://github.com/Yelp/bravado-core/blob/24461141a308eeca4f997b48b4c4deacaef8c12a/bravado_core/formatter.py#L114

[code]

The "simplest" fix is to do `.isoformat() + 'Z'`, but either way it's impossible to have correct timezone information with just a `datetime` value

[2016-12-01 20:49] asottile commented on #133
If dependencies are correctly honored (through `jsonschema[format]`) it makes it impossible to round trip these values

[2016-12-05 18:42] gabisurita opened #134 "Validate response body fails on empty response with Python 3"
I'm using a test suite with .tox and this error is raised with Python 3.4 and Python3.5.

Apparently empty bytearrays aren't considered on `EMPTY_BODIES`.

[code]

[2016-12-07 16:55] jakedt commented on #7
#110 added allOf support for schemas, but not for response objects directly. As an example, the PagerDuty API composes their response objects for components using allOf:

[code]

Is anyone continuing to look at this feature? I too am trying to use this for a side project and completely fixing this by going "full meta" is probably out of scope.

[2016-12-13 21:57] jlumpe opened #136 "Support model polymorphism"
Model polymorphism as defined in the Swagger 2.0 spec is currently not supported by this package. I have implemented it in PR #128 but have not received any feedback. Is this repo still being maintained?

[2016-12-15 19:42] dpopowich opened #137 "enum with x-nullable"
This is my desired spec for a property in an object:

[code]

Using this against an incoming object with property `code` equal to `null` produces a validation error in `enum_validator()`. Tracing the code I see `x-nullable` is only considered when comparing the instance against the type, but validation doesn't end there and the enum validator fails because `null` is not part of the enum array. Swa

[2016-12-15 21:36] sjaensch commented on #136
Sorry for the lack of a response @jlumpe! I'll review your change tomorrow.

[2016-12-19 10:13] macisamuele commented on #133
A valid RFC 3339 format needs to have the timezone information. The timezone could be provided by hour offset (``-08:00`` in case of PST time) or by a letter (such as ``Z`` for ``UTC``).

To have the correct behaviour is important to have a localized datetime object (ie. ``pytz.timezone('Los_Angeles').localize(<näive datetime object>)``).
[code]

[2016-12-19 13:33] #133 closed

[2017-01-12 23:36] the-destro opened #142 "Swagger Spec fails validation if response codes are not quoted"
using the yaml file from the swagger [editor](http://editor.swagger.io/#/) I saved it as a yaml file and tried to load it in the same way that the pyramid_swagger project loads the file. I get a "SwaggerValidationError: expected string or buffer" exception message. Debugging at that level shows that item passed down is an int not a string. Inspecting the dict that is generated from loading the fil

[2017-01-19 16:06] adamhadani commented on #132
+1
Might be related to my PR #143

[2017-01-28 15:09] advance512 commented on #7
Any update on this? This is a major deviation from the Swagger and OpenAPI spec.

[2017-01-29 18:44] sjaensch commented on #7
@advance512 We have support for allOf, just not in response objects. While this is regrettable it should not be too hard to implement, given that we have schema support for allOf. Patches are highly welcome.

[2017-01-31 16:08] advance512 commented on #7
@sjaensch - PR #135 has the code.
However, no tests.
Maybe I'll add some later if I have time..

[2017-02-05 03:05] seanfarley commented on #7
Thanks for the pull request! This gets me closer to using bitbucket's swagger file but still throws an error:

[code]

Error:
[code]

[2017-02-07 09:26] lucafavatella opened #146 "Review formats `byte` and `binary` for type `string` (OpenAPI 2.0)"
Please refer to https://github.com/Yelp/bravado-core/pull/144#issuecomment-277810200

[2017-02-09 19:05] #137 closed

[2017-02-16 16:40] dpopowich opened #150 "partial objects (missing attributes)"
If I have a definition like this:

[code]

And I reference this in a PUT spec:

[code]

When I call `PUT /foo/14` with a JSON body of:

[code]

The unmarshalled python output from bravado-core is:

[code]
That is, `job` was missing, but bravado-core [explicitly looks](https://github.com/Yelp/bravado-core/blob/master/bravado_core/unmarshal.py#L138-L142) for missing properties and sets them on the o

[2017-02-16 18:15] sjaensch commented on #150
`None` means "unknown" / "not set". The current behavior is to make sure all attributes defined in the swagger spec are present in the unmarshalled object. You may want to discard the attributes that have the value None.

[2017-02-16 19:01] dhojnowski opened #151 "Optional enum types require both "x-nullable" and "null" to pass validation"
I have a swagger spec that specifies an enum that I'd like to be nullable.  I would expect that I could just add "x-nullable" to this, but it appears I have to also add null to the list of values for the enum

[code]
gives `None is not one of [u'android', u'iphone', u'ipad']`

[code]
gives `None is not of type u'string'`  Only
[code]
passes.

This is on bravado-core 4.5.1

[2017-02-16 19:06] macisamuele commented on #151
Hey @dhojnowski the issue is fixed by #145 .
The new version will be released soon.

[2017-02-16 19:14] sjaensch commented on #151
Actually @dhojnowski that fix is in the 4.6.1 release, unfortunately it didn't make it into the release notes. Please give it a try and reopen this issue if it's not fixed.

[2017-02-16 19:14] #151 closed

[2017-02-16 20:36] dpopowich commented on #150
How do I determine the difference between "value not sent" and "set this value to `None`"?

Or, another way to ask the question, how do I implement PATCH, if bravado-core is going to set every value not delivered to `None`? Imagine an object with 100 properties and I want to send a PATCH to update 5 properties. One can't simply filter out all properties with value `None` because a legal value for

[2017-02-16 21:06] dhojnowski commented on #151
Yep, fixed.  Thanks for getting back so quickly on this!

[2017-02-17 23:20] sjaensch commented on #150
Unless you use the optional `x-nullable` support, the value should never be None. It's either what the caller passed, converted to the right type according to the spec (which might be an empty string, the number 0, the boolean value False and so on), or it will be None in the case the caller never passed an argument with that name. So providing a query parameter in the form of `intvar=&...` (i.e.

[2017-02-19 15:45] dpopowich commented on #150
I don't seem to be getting my point across. If a property is missing that is specified in a swagger JSON body parameter, bravado-core forces the value to None, [setting it on the unmarshalled object even if it wasn't passed in the request](https://github.com/Yelp/bravado-core/blob/master/bravado_core/unmarshal.py#L138-L142).

My reading of the spec says If a property is not required it is *optiona

[2017-02-19 21:06] sjaensch commented on #150
Hey @dpopowich, we seem to be having a misunderstanding here. You need to distinguish between the spec (i.e. how data is being sent over the wire) and what you get if you use bravado-core to unmarshal objects for you.

The design decision was made quite some time ago to make sure all attributes should be present, whether they were sent or not. If they were not sent then the value would be `None`.

[2017-02-20 01:48] dpopowich commented on #150
So, if a property has `x-nullable: true` how do you tell the difference between it being sent as `null` and it not being sent at all?  And if an object has just one single property with `x-nullable: true` how do you discover which properties were sent and which were not without having to keep some extra catalog in your Python code of the x-nullable properties?

I'm using pyramid-swagger, which cal

[2017-02-20 10:19] sjaensch commented on #150
@dpopowich is this still an issue you're facing or are we having more of a theoretical discussion?
`x-nullable` could make this a bit more complicated, _if_ your PATCH endpoint would behave differently for attributes that were passed in with the value `None` vs. them not being passed in at all. From a Swagger spec standpoint both of these cases are equivalent, it means the attribute's value is unk

[2017-02-21 18:50] dpopowich commented on #150
First, my apologies for leaving off the detail of `x-nullable` in my initial post...that created a lot of unnecessary confusion.

So, here's my situation: I am building a REST api with pyramid (and cornice) serving records from an ancient legacy RDB (wrapped by sqlalchemy). Nearly every table has nullable columns and these are not filtered out on request. The current consumer of the REST api is a

[2017-02-23 15:46] dpopowich commented on #150
Related to this issue (and let me know if I should create a new issue) is the non-use of `default` in missing properties: if a property is missing, the value out of bravado-core is `None` regardless of whether or not `default` is set in the schema.

[2017-02-23 16:33] sjaensch commented on #150
I'm not yet completely sure I understand your needs fully, but at this point I think merging #152 makes sense. In regards to your last comment, `default` not being honored sounds like a bug, please file an issue. Please make sure to point out if that property has `x-nullable` set, as the bug might be related to that interaction.

[2017-02-23 17:01] dpopowich opened #153 "missing properties are not set to default when unmarshalled"
If I have an object which I specify as a `"in": "body"` parameter for a PUT or POST with properties that have `default` set, e.g:

[code]

The default is ignored for missing parameters, e.g, with the following JSON body request:

[code]

The output is:

[code]

I'd expect it to be:

[code]

Note: `x-nullable` has no effect here: `default` is ignored regardless of the `x-nullable` setting when the

[2017-02-23 17:05] dpopowich commented on #150
Great. It would be wonderful to see #152 included.

Regarding `default`, I created issue #153.

[2017-02-26 18:09] #153 closed

[2017-03-09 09:32] macisamuele commented on #142
@the-destro: I'm usually doing something similar to the following snippet to read yaml specs from file.
[code]

In this case if your responseObject has no quote around ``200`` we cannot do anything fancy because ``yaml.load(f)`` reads it as an integer instead of string (expected type) and so the validation will fail.

Swagger specs example are available on [Swagger Spec - Response Object](http://s

[2017-03-21 19:46] adamhadani opened #160 "type object "SomeBravadoResourceType" has no attribute 'marshal' ( and 'unmarshal')"
Started seeing these errors today after installing the just release 4.7.0 bravado-core. Downgrading to previous version (4.6.1) makes these go away so seems like some kind of regression.. Here's an example snippet:

[code]

Also, seeing similar error when trying to use `unmarshal`:

[code]

[2017-03-21 19:47] adamhadani commented on #160
FYI @sjaensch

[2017-03-21 20:16] macisamuele commented on #160
@adamhadani you're right ... version 4.7.0 changes the way to marshal and unmarshal models.
Instead of using ``marshal`` and ``unmarshal`` class methods are replaced by ``_marshal`` and ``_unmarshal`` ones. This was injected by #159.

Since actually this is a back incompatible change we should change the package version and make evident in the changelog how to migrate from ``v4.6.1`` to ``v5.0.0``

[2017-03-21 20:28] adamhadani commented on #160
ping @macisamuele I have a PR  on the way for this which re-introduces original function names with a deprecation warning, will ping u there when up, thanks for confirmation!

[2017-03-22 09:21] sjaensch commented on #160
Fixed by #161.

[2017-03-22 09:21] #160 closed

[2017-03-22 13:09] CBarraford opened #163 "unmarshal bug in 4.7.(0|1)"
I've confirmed that we don't get the following error when i downgrade from 4.7.0 (or 4.7.1) to 4.6.1.

[code]

[2017-03-22 13:17] CBarraford commented on #163
My API responded with 200, here's an example JSON body
[code]

[2017-03-22 13:21] sjaensch commented on #163
@CBarraford could you post your swagger spec as well please?

[2017-03-22 13:22] CBarraford commented on #163
@sjaensch sorry, our API is private and I can't disclose it. Sorry!

[2017-03-22 13:37] sjaensch commented on #163
@CBarraford unfortunately then you'll have to either create a reduced test case or do some debugging on your own. What I can say from the stack trace is that it has something to do with one of the properties for which the value is `null`. Apparently bravado-core can't find the spec for that property. Maybe that helps?

[2017-03-22 13:41] CBarraford commented on #163
Yeah, trying to debug on my own. Heres what i got so far...

the func `get_spec_for_prop` can return `None`.
https://github.com/Yelp/bravado-core/blob/master/bravado_core/schema.py#L103

But then we don't handle `None` quite right here
https://github.com/Yelp/bravado-core/blob/master/bravado_core/unmarshal.py#L136

[2017-03-22 13:44] sjaensch commented on #163
Agreed, we should handle a spec not being available gracefully. Working on a fix.

[2017-03-22 13:48] CBarraford commented on #163
created a PR with the fix, https://github.com/Yelp/bravado-core/pull/164

[2017-03-23 08:10] #163 closed

[2017-03-24 16:06] laucia opened #166 "Bravado doesn't default to type object for definitions objects"
https://github.com/Yelp/bravado-core/blob/master/bravado_core/unmarshal.py#L37
[code]
This should probably be `or`

[2017-03-26 15:08] #150 closed

[2017-03-26 15:09] macisamuele commented on #136
Closing since merged with PR #159

[2017-03-26 15:09] #136 closed

[2017-04-19 16:20] Amedeo91 opened #168 "additionalProperties False by default"
Is it possbile to have additionalProperties False by default without having to manually setted it?

Regards
Amedeo

[2017-04-19 16:25] Amedeo91 opened #169 "$ref not automatically solved"
I see that sometimes the $ref or the $allOf or $anyOf are automatically solve and I have to solve them manually in order to make it work. Why?

Example below:
{'x-scope': [''], 'additionalProperties': False, '$ref': '#/definitions/My_Resource'}

Regards,
Amedeo

[2017-04-19 21:34] bxm156 opened #170 "x-nullable doesn't work with objects"
Example partial spec:
[code]
None is not of type 'object'
Failed validating 'type' in schema['properties']['propB']:
....
On instance['propB']:
    None
``

[2017-04-20 13:50] macisamuele commented on #169
Closing since duplicated in https://github.com/Yelp/bravado/issues/282

[2017-04-20 13:50] #169 closed

[2017-04-20 13:50] macisamuele commented on #168
Closing since duplicated in https://github.com/Yelp/bravado/issues/283

[2017-04-20 13:50] #168 closed

[2017-05-02 10:02] jakul opened #172 "`create_param_docstring` doesn't dereference `$ref` properly"
I have a working Open API, which bravado gives the docstring below for. The `param_spec` which gets passed in is listed below that. `create_param_docstring` doesn't know how to dereference `$ref`'d parameters, and so gives an incorrect docstring.

[code]

[code]

[2017-06-16 03:16] bplotnick opened #176 "Formatter coerces types and bypasses request validation"
When a param has a `format`, the formatter will coerce the value to that type instead of failing when validate_requests is enabled.

Pet Store example using bravado - `petId` has an `int64` format:
[code]

This seems like a pretty serious issue as it causes unexpected behavior. At the very least, we should document it. I'm not entirely sure how we could fix this behavior at this point without brea

[2017-06-28 16:06] tomas-fp opened #178 "Marshall error even if "validate_requests" is False"
In bravado v9, this [line](https://github.com/Yelp/bravado-core/blob/master/bravado_core/param.py#L120) is raising a `bravado_core.exception.SwaggerMappingError` in case that the request param type is not satisfied.

This is totally fine in a common scenario, but in a testing scenario where you want to test multiple input combinations, the typical approach would be disabling `validate_requests` co

[2017-08-07 09:21] markfink opened #180 "question on x-example extension use"
I am new to bravado and just starting so I would appreciate a pointer.

I would like to add a custom extension 'x-example' to my spec so I can create sample data / scaffolding data from my spec (similar to what DREDD does). Is that possible with bravado / docu
 / sample available?

thank you
Mark

[2017-08-16 21:08] ngaya-ll commented on #134
It looks like your response is the string `"b''"`, not an actual empty string.  Otherwise the output message would be:
[code]

[2017-08-16 21:12] ngaya-ll commented on #134
Currently `EMPTY_BODIES` is defined as `(None, '', '{}', 'null')`.  For Python 3 compatibility, this should probably be `(None, b'', u'', '{}', 'null')`.

[2017-09-01 14:27] janekbaraniewski opened #185 "x-nullable working only for required properties of objects"
Hey, I've stumbled upon an unexpected behaviour when using `x-nullable`

My swagger definition:
[code]
From what is stated in [bravado-core documentation](http://bravado-core.readthedocs.io/en/latest/models.html#allowing-null-values-for-properties) I should be able to send in my request `None` as a value of `nullable_field` but sadly that's not the case, `nullable_field` simply doesn't exist in th

[2017-09-01 15:39] macisamuele commented on #185
@janekbaraniewski I quickly checked the implementation of [``handle_null_value``](https://github.com/Yelp/bravado-core/blob/27ed3d16c9ba734ec177ea4c393afba515ba6334/bravado_core/schema.py#L127) and the result that you're getting seems correct according to the code.

From you're prospective this seems wrong and I agree with you. This is a bug.

I think that we have no tests for nullable properties

[2017-09-01 16:37] janekbaraniewski commented on #185
hey @macisamuele, thanks for the quick response.
Yeah, sure, I should have PR ready within few hours :)

[2017-09-01 18:42] janekbaraniewski commented on #185
PR #186 is ready for review :)

[2017-09-01 19:33] sjaensch commented on #185
Heh this is interesting. We've actually never intended for `x-nullable` to be used this way. It was always to allow bravado (as the client) to not complain about `null` values being sent from the server. That's why we have a [battery of tests](https://github.com/Yelp/bravado-core/blob/master/tests/unmarshal/unmarshal_object_test.py#L403) testing every possible case for unmarshalling.

I think it m

[2017-09-05 06:28] #185 closed

[2017-09-05 13:01] janekbaraniewski commented on #185
Hey @macisamuele, just a followup to this issue, can you tell me when you plan to release those changes?

[2017-09-05 13:05] macisamuele commented on #185
It's already released ;)

[2017-09-05 13:06] janekbaraniewski commented on #185
awesome :D thanks!

[2017-09-06 08:19] macisamuele opened #190 "Spec Flattening assumes that all the models were discovered"
While building [``pyramid_swagger``](https://travis-ci.org/macisamuele/pyramid_swagger/builds/271496637) I got a list of tests failure related to `` KeyError: 'x-model'`` in [``bravado_core. spec_flattening .flattened_spec``](https://github.com/Yelp/bravado-core/blob/v4.8.3/bravado_core/spec_flattening.py#L303-L306).

Minimal example to reproduce the issue:
- ``swagger.json``
[code]
- ``aux.json``

[2017-09-06 13:23] #190 closed

[2017-09-06 18:41] #166 closed

[2017-09-06 19:23] bplotnick opened #192 "Add config to default no type to object"
In #183, we disable validation when a type is missing. it was mentioned that there should be a config to default this to object. Alternatively, we could have a config to fail if no type is specified. Or maybe have the config switch between the three options?

[2017-09-11 19:30] bplotnick commented on #192
Closed via #193

[2017-09-11 19:30] #192 closed

[2017-10-03 05:31] bplotnick opened #197 "rray default fails to unmarshal"

[2017-10-03 05:37] bplotnick opened #198 "Array default fails to unmarshal in most cases"
Setting a default for an array fails unless `collectionFormat` is `multi`.

[code]

Example param:

[code]

[2017-10-03 05:54] #197 closed

[2017-10-12 12:10] diegodelemos commented on #53
what is the status for solving this issue?

[2017-10-12 12:14] diegodelemos opened #201 "File parameter doesn't propagate the file name"
I am wondering if you had in mind when you designed `add_file` that you are naming the file after the spec parameter name in `bravado_core/param.py`.
Given this parameter spec:
[code]
[Here](https://github.com/Yelp/bravado-core/blob/master/bravado_core/param.py#L287) in `bravado_core/param.py`:
[code]
So when you receive this file in the server (i.e. Flask) you end up with something like this:
[co

[2017-10-16 05:17] #198 closed

[2017-11-01 21:46] ajm188 opened #209 "we should support some notion of sensitive data in a spec"
Say I have a spec that defines a field storing some PII. Ideally, if a request/response fails to validate, we would be able to stop the sensitive value from appearing in exception messages, logs, etc.

I propose adding some sort of "x-sensitive" property on a type schema.

[2017-11-02 01:13] gstarnberger opened #210 "internally_dereference_refs generates wrong result when discriminators are used in spec"
internally_dereference_refs appears to not properly deserialize responses when discriminators are used in the spec and when use_models is enabled. In particular, if the model contains a type and a subtype none of the attributes of the subtype gets deserialized.

Here's an example spec: https://gist.github.com/gstarnberger/4dd7d76b94d7afec87f8a6a141dfd17e

If you call an endpoint that returns `{"sc

[2017-11-02 04:56] gstarnberger opened #211 "bnetghdl"

[2017-11-02 04:57] #211 closed

[2017-11-02 09:17] macisamuele commented on #210
@gstarnberger I've started to dig into the issue that you're describing.
I tried to formalize your scenario into a single test so we can add it to the _normal_ test suite in order to prevent future regression.
https://gist.github.com/macisamuele/4fdb2a320a95f6aa24ecef9f6d16248d

At the moment I'm getting validation error while using fully dereferenced specs (note you have disabled response validat

[2017-11-02 11:57] #210 closed

[2017-11-02 11:58] macisamuele commented on #210
@gstarnberger I've needed the PR that should solve the reported issue. Please validate that the new master has fixed the issue. Feel free to reopen this in case the issue is still there :)

[2017-11-02 11:59] macisamuele commented on #210
*I've merged ...

[2017-11-02 18:36] macisamuele commented on #180
@markfink bravado/bravado-core doesn't handle x-example attribute, if you set it in your specs it will not be used by those libraries.
If you're interested in having mocks of your endpoints you could have a look to https://github.com/Yelp/pyramid_mock_server/

[2017-11-02 18:56] markfink commented on #180
thanks @macisamuele for your input. I found a recipe on how to parse the opanapi specs and extract the sample data from it (https://github.com/Trax-air/swagger-parser/blob/master/swagger_parser/swagger_parser.py). With a few tweaks this really rocks!

[2017-11-02 18:56] #180 closed

[2017-11-02 23:20] AlstonLin opened #214 "Add msgpack support"
msgpack would be a more efficient way to receive large JSON body responses, and could mean large performance gains for people who want to use bravado with a server that supports `application/msgpack` responses

Support for this content type should be added to bravado

[2017-11-03 16:09] ajm188 commented on #209
Closed via #213

[2017-11-03 16:09] #209 closed

[2017-11-03 17:46] AlstonLin commented on #214
@macisamuele For this functionality, one of the things I'd need to do is to add msgpack unmarshalling in bravado_core. However, to be able to do that I need to have access to the bytes of a response, which is currently not possible under the interface specified in `bravado_core.response.IncomingResponse`. So to implement this, I'd need to change IncomingResponse to have 'bytes' in the _required_at

[2017-11-03 20:36] macisamuele commented on #214
@AlstonLin this is just to recap our quick chat 😄
We can modify ``IncomingResponse`` in order to expose ``bytes`` other than ``text`` and ``json``, it should not be a breaking change but according to how it will be implemented, we can decide whenever is safe to go with a minor version bump or a major version bump.

I checked bravado-core and bravado implementations and those are the points that I

[2017-11-03 20:50] bplotnick opened #215 "Ensure param names and tags are valid python identifiers"
We sanitize [operation_ids](https://github.com/Yelp/bravado-core/blob/master/bravado_core/operation.py#L13), but we should also sanitize param names and tags to ensure that they are valid python parameters.

There is a workaround as mentioned in https://github.com/Yelp/bravado/issues/293, but we should just fix it here.

This might have some backwards compatibility considerations, but I don't thin

[2017-11-03 23:02] AlstonLin opened #217 "'also_return_response' should be added to CONFIG_DEFAULTS"
This is currently breaking `make test` in bravado

[code]

This break is coming from https://github.com/Yelp/bravado-core/blob/master/bravado_core/spec.py#L146, which is deleting this key because it's not whitelisted in CONFIG_DEFAULTS

Alternatively, we could just not delete extra keys

[2017-11-06 08:21] #217 closed

[2017-11-06 08:40] macisamuele opened #219 "test_deref_flattened_spec_not_recursive_specs is flaky"
``test_deref_flattened_spec_not_recursive_specs`` is flaky ...
We should:
 * temporary xfail the test
 *  investigate what makes this test unreliable
 * fix it

[2017-11-06 16:16] macisamuele opened #222 "model is instance check could fail in case of fully dereferenced specs"
``isinstance(model, model_type)`` returns ``False`` if:
 * ``model`` is built using the model type that has reference in the specs
 * ``model_type`` that has NO reference in the specs

This happens in case of generate clientlibs (yelp specific issue).

I was able to reproduce the issue and to write a tests that shows the issue.
In order to see the failure you should apply the following [gist](http

[2017-11-07 21:17] bxm156 opened #223 "Support mock.create_autospect with spec_set=True"
The current models do not support auto speccing. If you attempt to use mock.create_autospec with spec_set=True, you will get

[code]

I think this is due to the way we handle creating and setting properties in https://github.com/Yelp/bravado-core/blob/master/bravado_core/model.py. Not sure how easy or feasible a change this would be based on the current way of doing things. But it would be nice to

[2017-11-08 16:14] #214 closed

[2017-11-22 18:59] AlstonLin opened #227 "bravado_core should use the msgpack module instead of umsgpack"
It seems that the umsgpack module, implemented in pure python, is an order of magnitude slower than the msgpack module, written with CPython bindings

[2017-11-22 19:14] gstarnberger commented on #227
IIRC the original msgpack module is not well supported under PyPy. Do you think it would make sense to add a fallback to umsgpack? Something like the following:

[code]

In that case we could specify umsgpack as required dependency (as it should be available for all Python versions) and msgpack as optional dependency.

[2017-11-22 19:16] macisamuele commented on #227
@gstarnberger thanks for reporting it .... I was almost sure that I've read somewhere that it was preferable to use ``umsgpack`` over ``msgpack`` 😄

@AlstonLin I would keep into consideration @gstarnberger proposal, ``bravado`` has already something similar for json, maybe we can "replicate" that approach.

[2017-11-22 20:20] AlstonLin commented on #227
@gstarnberger According to https://github.com/msgpack/msgpack-python, msgpack-python is supported with Pypy (there's even a section for it explicitly stating that in the README). I thought I read somewhere as well that `umsgpack` was more preferable but I guess that was incorrect. Since there's `msgpack-python` is fully supported on Pypy using your approach would not be necessary.

[2017-11-22 22:09] #227 closed

[2017-11-29 02:11] explody opened #229 "response.unmarshal_response should not return None if a validate_responses is False"
After a bit of digging, I found that a "None" response I was getting from an API was a result of this snippet in bravado_core/response.py:

[code]

The swagger json from this particular API declares return codes, but does not fully define the response spec:

[code]

* The response definition without defining content is not technically invalid - the swagger spec validates at swagger.io and w/ 3rd p

[2017-11-29 07:54] desiam opened #230 "marshalling/unmarshalling an array should support multiple schemas in `items`"
Currently, bravado does not support lists for the `items` key of a jsonschema array.
Bravado marshalling and unmarshalling assumes one schema applies to all items of an array. In the following link, `marshal_array` gets the value for the key, `items`, and calls `marshal_schema_object` on each item in the array with that schema.
- https://github.com/Yelp/bravado-core/blob/master/bravado_core/marsha

[2017-11-29 17:11] macisamuele commented on #230
@desiam you're right ... we do not have support for it.
Could you help us by providing a PR?

[2017-11-29 17:18] macisamuele commented on #230
@desiam you're right we do not have support for it.
Checking the Swagger 2.0 specs ([link](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#itemsObject)) I see that the content of ``items`` should be an object, so I guess that swagger does not support that.

[2017-11-29 17:28] macisamuele commented on #229
[``unmarshal_response``](https://github.com/Yelp/bravado-core/blob/ff37208199fa8cffe2f891696c235b8f5c4756a3/bravado_core/response.py#L90) takes care of converting the received response into a python object.
The method returns ``None`` because the specs does not specify any content of the response, so from a spec prospective the response body _"does not exists"_.

So a possible workaroud could be t

[2017-12-01 00:48] AlstonLin commented on #227
@macisamuele @sjaensch when would it be possible to get a new release for this to go out so we can start trying these out in our clientlibs?

[2017-12-06 00:23] AlstonLin opened #231 "Add support for zlib decompression"
bravado-core should be able to handle compressed responses.
These can be detected by the presence of a `Content-Encoding` header.
Specifically, I'm interested in support for decoding responses compressed by zlib, which have a `Content-Encoding: deflate` header. This would allow for decreased network latency and bandwidth for users if they want to use compression for their responses.

[2017-12-18 08:48] sjaensch commented on #170
`required` and `x-nullable` are mutually exclusive. If a property needs to be present then it can't be `None`. We consider a `None` value to be the same as not sending a property at all. Remove `propB` from the list of required attributes and things will work as expected.

[2017-12-18 08:48] #170 closed

[2017-12-20 10:31] sobayed opened #233 "Plans for OpenAPI v3.0 support"
Hi there,

I'm curious whether there are any plans to add support for OpenAPI v3.0?

[2017-12-20 11:41] sjaensch commented on #233
@sobayed there are no plans by the current maintainers to work on OpenAPI 3.0 support, however pull requests are very welcome, if you'd like to take a stab at it. :)

[2017-12-20 11:41] #233 closed

[2018-01-14 02:17] bdowling opened #235 "Format double and overriding default formats"
I have a use case that is using double numbers in the spec for monetary values.  Given that float is so imprecise, it would seem more valid to me to cast these to Decimal() from the decimal module.

btw, DEFAULT_FORMATS specifies both 'double' and 'float' format to the float()

Currently bravado-core does not allow you to override the DEFAULT_FORMATS, of course I can rename my spec format to decim

[2018-01-14 03:04] bdowling commented on #235
Can submit this as PR if it makes sense..

[code]

[2018-01-15 16:02] bdowling commented on #235
Just looking over my own tests there, and this may affect some of the existing tests, but wouldn't it be more proper for all of the "to_python" calls to be handed a string to intern to the right python format.  Otherwise you're either pre-casting or letting python cast numbers to certain types before the conversion actually happens.  I suppose some of this depends on what json is actually handing

[2018-01-15 16:23] macisamuele commented on #235
@bdowling thanks for reporting the issue. Issues and PRs are always welcome 😄
I would prefer to allow ``DEFAULT_FORMATS`` overriding instead of changing the behavior of ``double`` format since it could break other users of the library.

[2018-01-16 14:46] #222 closed

[2018-01-18 18:47] jones77 opened #239 "Print the request Bravado will make"
I'm trying to debug why my Bravado client fails and returns a 404, but my (supposed) curl equivalent works.

But I cannot figure out how to print the request that Bravado will eventually make.

[2018-01-18 18:50] jones77 commented on #239
Found it:

    client = SwaggerClient.from_url(...
    request = client.YourService.GetSomething(...
    print request.future.request

[2018-01-18 18:51] jones77 commented on #239
Feel free to close this ticket, or suggest a place in the docs I could add this and I'll do so.

[2018-01-29 18:48] macisamuele commented on #230
As no objections after the last comment on November, I'm closing it.

[2018-01-29 18:48] #230 closed

[2018-01-29 18:49] #239 closed

[2018-02-06 08:38] #235 closed

[2018-02-06 12:33] #215 closed

[2018-02-15 07:27] rredkovich opened #251 "Validation passes with properties not presented in a definition"
Pretty sure that I just missed the option, however read the docs, checked out code, issues and still cannot figure out how to config validation to fail on dict with keys not presented in schema.

Could you please point to my error?

Example:
[code]

[2018-02-15 09:07] macisamuele commented on #251
Hello @rredkovich,
JSON schema definition has an optional attribute called ``additionalProperties``. According to json schema validation ([secion 5.4.4.3](https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-5.4.4.3)) in case the attribute is not present it defaults to an empty object, which means everything is accepted there.

Swagger Specs are based on top of JSON schema specs

[2018-02-15 09:07] #251 closed

[2018-02-15 11:44] rredkovich commented on #251
@macisamuele thank yor very much for such detailed explanation!

[2018-02-24 08:56] ghoti opened #257 "Bravado-core release breaks user registration"
hijacking this issue from gitter

bravado-core release 4.13 breaks user registration in v2

example trace: https://paste.ee/p/GURHC

temp fix is to install bravado-core 4.12.1 until resolved

[2018-02-24 08:57] #257 closed

[2018-02-24 08:57] ghoti commented on #257
wrong repo im sorry

[2018-03-02 18:43] nickdirienzo opened #258 "bravado-core does not support multiple parameters properly"
We're experiencing an issue where `cast_request_param` is failing with a `TypeError` in the following scenario. For the record, we use pyramid_swagger and by virtue of that, bravado-core.

If you have a spec like:
[code]

Then make a request with:
[code]

bravado-core will raise a `TypeError` and therefore a 500 because we're trying to cast `['123', '456']` to via `int()`.

I may be misunderstandi

[2018-03-02 18:50] nickdirienzo commented on #258
Hmm, thinking about this a bit more, I'm not sure if this is an issue with bravado-core or pyramid_swagger given that the docstring of `cast_request_param` is:
[code]

So we shouldn't ever be sending a list into this function in the first place. I think I need to dig a bit more here.

[2018-03-02 18:59] nickdirienzo commented on #258
Ah okay. This seems like that's the root cause now. As long as the `cast_param` function doesn't raise an exception we will eventually hit the collection format line [here](https://github.com/Yelp/bravado-core/blob/54d099e3fa1df0fe027908e96dd3718b11b689bf/bravado_core/param.py#L194), which handles collections properly. Unfortunately, we're raising a `TypeError` and bombing out before we should.

C

[2018-03-02 20:33] macisamuele commented on #258
@nickdirienzo I think that you have a small issues on your swagger specs.
``parent_id`` is defined as an ``integer`` but you are actually sending a list of integers, so this led me think that ``parent_id`` should be an array of integers.
[code]

Closing it for now. Feel free to reopen the issue if your problem is not solved.

[2018-03-02 21:18] nickdirienzo commented on #258
@macisamuele thanks for the reply! So we'd like for the query parameter to not operate as a collection, i.e. not support `parent_id=123&parent_id=456` right now. This seems like a valid use of Swagger and to support a collection in the request with multiple query parameters, we'd have to set the `collectionFormat` to `multi` as you suggested.

In this world where we don't want to permit multiple v

[2018-03-02 21:20] nickdirienzo commented on #258
What I'm proposing is to allow jsonschema to handle the error instead of bailing out, e.g. like https://github.com/optimizely/bravado-core/commit/07bf13cde0e17395fc81ec4ab95bddf4621343d6. With this approach, instead of a 500, we would get a 400 back with a message of `"Invalid value for field 'parent_id': ['123', '456'] is not of type 'integer'"`. Does this seem like a reasonable thing to want / d

[2018-03-02 21:20] macisamuele commented on #258
I'm reopening this as it didn't solved the issue.
I would ask you more information about the exception that pyramid is reporting (stacktrace will be appreciated).

[2018-03-02 21:22] nickdirienzo commented on #258
Definitely can provide you with that! Sorry I didn't provide that originally and instead only provided my understanding of the stack trace:

[code]

[2018-03-03 00:44] sjaensch commented on #258
Fix released in 4.13.1. Thanks!

[2018-03-03 00:44] #258 closed

[2018-03-05 18:56] nickdirienzo commented on #258
You're welcome! Thanks again for publishing the new version so quickly.

[2018-03-28 16:15] valp124 commented on #201
Facing the same problem. Any ETA on the fix?

[2018-05-18 02:40] krishnanand opened #266 "Support for `nullable`"
Hi,

I know that bravado uses `x-nullable` to designate any property as something that can have `null` value. The [official documentation](http://bravado-core.readthedocs.io/en/latest/models.html#allowing-null-values-for-properties) suggests that maintainers of bravado were waiting for the [specification update](https://github.com/OAI/OpenAPI-Specification/pull/894/). Now that [`nullable` is a par

[2018-05-23 13:59] #266 closed

[2018-05-28 15:27] andresriancho opened #271 "Python requests library missing requirement"
https://github.com/andresriancho/w3af uses bravado core for parsing open api. One of our users reported an issue while running:

[code]

The traceback:

[code]

The user has `requests==2.2.1` installed and the import fails. I have `requests==2.18.4` and the import works.

This seems to be an issue with `bravado-core` not requiring a version of `requests` > X.

[2018-05-28 15:34] macisamuele commented on #271
@andresriancho I think that this issue should be opened into bravado project as the linked stacktrace does refer to it.
I've checked requests [changelog|https://github.com/requests/requests/blob/master/HISTORY.rst#240-2014-08-29] and you're correct, bravado does not specify requests 2.4.0 as min library version.

[2018-05-28 15:38] andresriancho commented on #271
You just did that, thanks :+1:

[2018-05-28 15:39] #271 closed

[2018-06-01 16:09] macisamuele opened #275 "Identified regression in bravado_core.spec.Spec if internally_dereference_refs is enabled"
A regression as been introduced by https://github.com/Yelp/bravado-core/commit/d23868c9cc87f30a208765b73b88dd0c12c08cad.

Affected versions
------------------
bravado-core: 4.13.3, 4.13.4, 5.0.0 and 5.0.1

Symptoms
----------
After initialising a `bravado.client.SwaggerClient` with `internally_dereference_refs` config enabled you're not able to communicate with the service.
The traceback will look

[2018-06-04 09:59] #275 closed

[2018-06-04 10:20] macisamuele commented on #275
Fixed on version 5.0.2

[2018-06-06 14:17] jakul opened #278 "Space character in url path encoded as `+` instead of `%20`"
Recent versions of Bravado have started encoding space characters in urls as `+` -> e.g. `/path/to/resource/resource+name` instead of `/path/to/resource/resource%20name`.

I haven't been able to find concrete documentation to say that that encoding is against the standard, but a couple of Stack overflow comments imply that plus-encoding is required for query params, but path params should use `%20

[2018-06-06 14:29] sjaensch commented on #278
Thanks @jakul for the report! I'm looking into it.

[2018-06-06 14:48] #278 closed

[2018-06-06 14:55] sjaensch commented on #278
The fix is released in version 5.0.3.

[2018-06-07 11:10] jakul commented on #278
Thanks for the *super* quick fix @sjaensch !

[2018-06-27 13:46] aviskase opened #280 "Support requests in text/plain"
Currently it isn't possible to send requests in text/plain format, because they are converted to application/json compatible format.

Temporary ugly monkeypatch snippet for those, who use bravado+pytest:
[code]

[2018-06-27 13:53] aviskase opened #281 "Incorrect marshalling of boolean query params"
Take for example this param:
[code]

Currently when bravado-core tries to marshal this param, it just casts it to `str()` which leads to `True/False` instead of `true/false`

Temporary ugly monkeypatch snippet for those, who use bravado+pytest:
[code]

[2018-07-13 14:59] frankandrobot opened #288 "collectionFormat not supported?"
The following is valid swagger and says that query args separated by pipes are valid. For example, `user_role=administrator|viewer`. However, bravado fails with the errors below

[code]

<details>
<summary>failing bravado tests</summary>

[code]
</details>

[2018-07-14 08:06] macisamuele commented on #288
@frankandrobot
Your api speicifes the presence of an array parameter named `user_role`.
Checking the traceback I see that you're trying to call the endpoint as `client.users.getUsers(user_role='viewer|publisher|administrator')` which is leading you to the error.
The correct call that you should use should look like ``client.users.getUsers(user_role=['viewer','publisher','administrator'])``

This h

[2018-07-14 08:06] #288 closed

[2018-07-17 14:32] #281 closed

[2018-07-20 15:53] kadrach opened #289 "Sanitization of Swagger parameters does not include Python keywords"
[code]

[code]

[code]

It looks like the sanitization of parameter names does not check for Python keywords. Is there another API available fire the request that avoids this issue?

[2018-07-20 16:00] kadrach commented on #289
Turns out, doing a `s.pet.post_pet(**{'from': ...})` does the trick.

[2018-07-24 20:56] vincer opened #290 "include_missing_properties not honored when using model constructor"
https://github.com/Yelp/bravado-core/blob/master/bravado_core/model.py#L304

It seems like there should be a config lookup there, like in `Model._from_dict`?

My workaround has been to use `_from_dict` which works correctly.

[2018-07-25 10:19] sjaensch commented on #290
`include_missing_properties` is intended to configure the way the models look and behave when being returned as part of a deserialized response.

That said, I don't see a reason why we couldn't add the same behavior to the `__init__` method.

[2018-07-27 01:58] ChrisJohannnesson opened #291 "how do i fix this warning"
Warning (from warnings module):
  File "C:\Python37\lib\site-packages\bravado_core\spec.py", line 271
    category=Warning,
Warning: JSON format is not registered with bravado-core!
([], <bravado.requests_client.RequestsResponseAdapter object at 0x000002424B7ECB00>)

[2018-07-27 08:19] macisamuele commented on #291
Hello @ChrisJohannnesson, the warning that you reported is thrown in case the loaded swagger spec contains un-standard formats that are not handled via [User Defined Fromat](https://bravado-core.readthedocs.io/en/stable/formats.html).
Defining the UDF should remove your warning, but in general UDF are meant to add validation and conversions utilities for speicified types.

If you need additional s

[2018-07-31 07:55] macisamuele commented on #289
@kadrach thanks for the reporting.
We're aware of this limitation but we decided to not perform sanitisation over parameters and models as:
 * it will have a good potential for name clashing
 * it will make harder to understand what actually is sent/received over the network.

As you already noticed is possible to workaround the issue.

---

According to the bravado structure could be possible to

[2018-07-31 07:55] #289 closed

[2018-09-20 14:24] DStape opened #299 "path portion of 'origin_url' being ignored in build_api_serving_url()"
When an origin_url of http://localhost/x is specified, ```/x``` is expected to be present in all URLs that the function returns.

This was the behaviour until https://github.com/Yelp/bravado-core/commit/108363636068fc6b1234bad2a9139550e256af3a was added.

The message in that commit indicates the behaviour change was made because, "According to the Swagger spec we should not use the path part of th

[2018-09-21 07:51] mulmschneider commented on #299
Hi there,

I was afraid that my change would create fallout for somebody, sorry it hit you.

I was referring to the following sentence in the API spec:
"If it is not included, the API is served directly under the host".
Which I interpreted to mean that if `basePath` is not specified in the swagger.json you should indeed just use the host part of URL.

After re-reading the spec I'm not sure though

[2018-09-21 12:02] DStape commented on #299
No probs.

We also don't specify ```basePath``` in our docs. This is because we have a use-case where the base path contains a variable (```/<name>```), but Swagger 2.0 does not support this. Therefore, to get around this, we download the API doc using the requests library, load this into the Swagger client and set origin_url to a specific <name>:
[code]
This results in URLs being built that look

[2018-09-21 13:39] DStape commented on #299
After studying the code for a bit, seems like the best place for the change is in bravado-core (and not bravado).

https://github.com/Yelp/bravado-core/pull/300

[2018-09-24 08:04] mulmschneider commented on #299
No objections from me, though my bravado knowledge is limited. Let's see what the maintainers think.

[2018-10-05 20:35] lguo52 opened #301 "Swagger yaml validation reliant on ordering"
Depending on the ordering of properties, validation will return different errors for this problem:

This validation error
[code]

occurs when a discriminator (which is also a required property) is not included in the payload to be validated.  However, if discriminator is defined after the required property is, the error returned is a KeyError.

Example:
[code]

versus

[code]

[2018-10-11 17:48] macisamuele commented on #301
@lguo52 I checked the bravado-core code and no assumptions on definition order are made.

In your specific case an object like `{"name": "a name"}` is not valid due to two errors: (1) missing a required field and (2) missing discriminator field.

`bravado-core` provides a binary answer to "is the object valid according to the schema?" it does not really matter if the validation fails for a single

[2018-10-30 16:01] gabisurita opened #303 "unmarshal_request breaks with jsonchema 3.x.x"
Apparently, bravado_core is trying to access a validator method that doesn't exists on jsonschema>=3.0.0a1. This version is within the range of valid dependencies: https://github.com/Yelp/bravado-core/blob/master/setup.py#L14

Here's my traceback:

[code]

[2018-10-30 16:39] macisamuele commented on #303
Hey @gabisurita, thanks a lot for the heads-up.
At the moment seems that `jsonschema>=3` has not been released (only alpha version is publicly available).
I'll try working to remove the incompatibilities

[2018-10-31 08:28] #301 closed

[2018-10-31 10:59] #303 closed

[2018-11-13 14:12] DStape commented on #299
#300 merged, so I'm happy to close this now.

[2018-11-13 14:12] #299 closed

[2018-11-27 18:44] tscheburaschka opened #310 "Spec.from_dict() fails to return models in spec.definitions"
### Problem
I was trying to evaluate bravado_core for use as a validating deserializer in our project. As we do not expose a true REST-frontend via HTTP but receive JSON-requests via other means, I am more interested in the python models returned from bravado_core.
I was trying the following:
[code]
The file petstoreExample.yaml is identical to the original example under:
https://github.com/OAI/Op

[2018-11-27 18:45] tscheburaschka opened #311 "Spec.from_dict() fails with a local file uri as origin_url"
### Problem
I was trying to solve problem #310 and ran into the following issue.

### Repro steps
The file petstoreExample.yaml is identical to the original example under:
https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/yaml/petstore.yaml
The file path to petstoreExample.yaml is
D:/Jan/eight/more/subdirs/without/spaces/scripts/petstoreExample_20.yaml
The code I executed was:

[2018-11-27 20:52] macisamuele commented on #311
The error reported looks odd to me.

I would like to help but I would need 2 debugging prints. Could you print the vaule of `raw_spec` and `schema_path.as_uri()`?
I tried to reproduce your issue with no success and currently I have no access to a Windows machine.

[2018-11-27 22:44] tscheburaschka commented on #311
schema_path.as_uri() :
[code]

raw_spec :
[code]

[2018-11-29 09:07] macisamuele commented on #311
I borrowed a Windows VM from appveyor to provide some support 😄

I was not able to reproduce your issue, check https://gist.github.com/macisamuele/06ca2b90abd873423649aa81025449ae for more details.

If you still have issues my suggestions would be:
 * try to change the directory of the file, maybe you have weird permissions
 * try to update all the dependencies
 * make sure that `jsonschema[format

[2018-11-30 09:53] tscheburaschka commented on #311
Thank you for your investigation. Unfortunately, neither can I now reproduce the bug. Maybe it was related to some hiccups in the PyCharm-debugger ...
Sorry for having wasted your time.
Now I am back at issue #310.

[2018-11-30 09:53] #311 closed

[2018-11-30 09:54] macisamuele commented on #311
@tscheburaschka that's not wasted time. Don't worry 😄

[2018-11-30 10:00] tscheburaschka commented on #310
With issue #311 gone, I am back at the original situation, where `spec.definitions` is empty, even when explicitly specifying the `origin_url` argument.
Like so:
[code]

[2018-11-30 10:03] tscheburaschka commented on #310
pip freeze:
[code]

[2018-11-30 19:00] macisamuele commented on #310
@tscheburaschka thanks for the result of `pip freeze`, it was not helpful as the issue is a different one.

I would suggest you to read more about how bravado [discovers models](https://bravado-core.readthedocs.io/en/stable/models.html#model-discovery).
The documentation says that all the models defined into `#/definitions` will be discovered and all the models that will have `x-model` vendor exte

[2018-11-30 19:30] tscheburaschka commented on #310
Thank you for the clarification. I was not aware that omitting the type is still valid OpenAPI spec.
On that note (but off topic in a way): Does the bravado-core team have plans to support OpenAPI v3 at some point in time?

[2018-11-30 19:30] #310 closed

[2018-12-10 19:06] guohaolee opened #312 "Mapping operationId with paths and operations"
Hi, I am wondering if bravado supports the mapping between operationId with the paths and operations?

For example using the https://petstore.swagger.io/v2/swagger.json,
** the pet.getPetById(petId=111) is same as the url:  https://petstore.swagger.io/v2/pet/111 **

Can we have a function to map this 2 together? so user does not need to know the operationId and by providing the url and we can map

[2018-12-18 06:35] anglvictor commented on #201
still having this issue, is there any work around for it?

[2019-03-05 10:41] macisamuele opened #318 "Travis build is failing on python2.7 after jsonschema 3.0.0 release"
Soon after `jsonschema==3.0.0` was released bravado-core tests are failing on Python 2.7 ([before](https://travis-ci.org/Yelp/bravado-core/jobs/497553696), [after](https://travis-ci.org/Yelp/bravado-core/jobs/497851981)).

We should fix tests as `bravado-core>= 5.10.0` should be able to support `jsonschema==3.0.0`

[2019-03-06 09:13] macisamuele commented on #318
#319 was opened to address the issue.
Tests were red and @sjaensch already fixed it in #320.

@sjaensch do you think we're good to release a new version of the library?
This will be the first version with 100% compatibility with jsonschema>=3.0.0 (check #319 for more details)

[2019-03-07 05:28] #318 closed

[2019-03-07 05:38] sjaensch commented on #318
The fix has been released in 5.10.2.

[2019-03-07 14:11] macisamuele commented on #291
Closing it as no responses are provided over 6 months

[2019-03-07 14:11] #291 closed

[2019-03-07 14:15] macisamuele opened #321 "bravado-core assumes that response body is present if a body parameter is defined"
Currently, if an endpoint does define a body parameter then bravado-core reads the content of the body and throws a `SwaggerMappingError` if the body is not valid json.

But, if the body parameter is optional then the body won't be present and so the exception will be thrown, which basically forces the body to be defined even if the parameter is optional.

https://github.com/Yelp/bravado-core/blob

[2019-03-08 07:15] #321 closed

[2019-04-21 15:06] advance512 commented on #233
Hey there,

Any update?
Is anyone working on OpenAPI 3.0 support?

[2019-04-23 08:19] sjaensch commented on #233
@advance512 nobody is working on it at the moment. Would you be interested in contributing in that direction?

[2019-04-23 15:33] advance512 commented on #233
@sjaensch
Perhaps, we shall see how time is allocated in our engineering team. We're tiny, sadly.

Did Yelp leave OpenAPI altogether? Are you sticking with OpenAPI 2.0? Or are you using an alternative tool in-house?

[2019-05-23 08:18] macisamuele opened #335 "bravado-core does propagate x-nullable field in case of reference objects"
While working on #331 I've noticed that bravado-core has some custom logic to ensure that the x-nullable field is propagated in case of a reference object.

According to the JSON schema definition a reference object is meant to fully replace the current object with the referenced one. This means that siblings attributes of a reference objects can not be considered (the definition does not strictly

[2019-08-26 10:02] jonnor opened #349 "Missing API reference?"
Several places online I see references to useful functionality like `bravado_core.response.unmarshal_with`, but I cannot find this in the bravado_core ReadTheDocs. Is there an API reference available somewhere? If no, what is the recommended way to learn about these APIs?

[2019-09-03 16:55] macisamuele commented on #349
@jonnor bravado-core does not have APIs like `unmarshal_with`, that's why it is not in the documentation.

I'm not familiar with the idea of such type of API, so if you can tell us more about the problem that you're trying to solve we might help in providing a direction.

[2019-11-05 12:07] xaralis opened #359 "Validation fails for x-nullable objects that happen to have discriminator"
Where a thing is defined as `x-nullable` and has a `discriminator` at the same time, `bravado-core@5.14.0` validation fails with a `TypeError` in case the instance resolves to `None`:

[code]
This definitely should error out and instead validate A-OK in fact.

[2020-02-07 20:44] macisamuele commented on #359
@xaralis sorry for the huge reply delay. I totally missed this 😞

Do you have a simple spec example and interaction that is able to reproduce it?

[2020-02-08 09:22] macisamuele commented on #359
I was able to identify a minimal test case that is able to reproduce the issue
[code]

Definitely the report looks like a bug.

@xaralis : thanks for opening it

[2020-02-20 16:16] #359 closed

[2020-02-23 13:44] macisamuele opened #370 "Add pickle support to bravado_core.spec.Spec"
Currently `Spec` is not pickable
[code]

This prevents libraries to use `Spec` instances across processes or just to pickle clients.

[2020-03-18 16:48] mrmaxformax opened #376 "uuid format is not registered with bravado-core"
Hello,
Got the warning: "uuid format is not registered with bravado-core"
it's not critical issue but could you pls add the uuid not the next release?
I added it based on the description and the Warning gone but not sure if it is 100% correct. May I ask you to check and help to fix (if it is incorrect)
[code]

Thanks!

[2020-03-19 09:16] sjaensch commented on #376
It looks correct to me, but you should be able to make sure it is correct by adding appropriate tests to your project.

[2020-03-19 09:16] #376 closed

[2020-04-02 18:27] #370 closed

[2021-04-08 13:07] abyssusj opened #382 "collectionFormat array list of lists"
Fails to trim "[" "]" brackets when converting to string causing marshalling to fail.

``JSON
{"description":"connected solar system pairs",
    "in":"query",
    "items": {
        "collectionFormat":"pipes",
        "items": {
            "format":"int32",
            "type":"integer"
        },
        "maxItems":2,
        "minItems":2,
        "type":"array",
        "uniqueItems":true},

[2022-02-25 08:55] HubertJaworski opened #388 "jsonschema processing doesn't support jsonschema>=4.0.0 causing bravado to break when working in offline environment"
When running an installation on clean python environment, Bravado gets installed with the newest jsonschema, currently >=4.0.0

jsonschema 4.0.0 introduced support for newer draft versions, which does not follow the previous pattern of `http://json-schema.org/draft-\d+/schema` and with values like `http://json-schema.org/draft-2019-09/schema`

In `bravado_core/model.py:883` your regexp for excludi

[2022-04-26 16:03] GuySuday commented on #388
I, too, encountered this problem

[2022-05-18 13:46] joern-m-h commented on #388
I have the same problem. I opened a PR for it: https://github.com/Yelp/bravado-core/pull/389

[2022-08-05 03:06] le91688 commented on #376
Was UUID ever added? I get this warning using bravado 11.0.3

[2022-10-11 22:08] AniX commented on #129
I believe the root cause for this is found here: https://github.com/Yelp/bravado-core/blob/ac5e46d618d4f7720f79eba02edad221a50047e1/bravado_core/model.py#L531

With `additionalProperties=False`, the additional properties are indeed removed when marshalled, but only on the top level of the object. If an object with nested arrays/objects is marshalled, everything below the top level will include add

[2022-10-13 15:35] sustr-equi opened #391 "jsonschema deprecation warning"
I got following deprecation warning:

[code]

It concerns line:
https://github.com/Yelp/bravado-core/blob/382db874b7b838dcfd169b0ce490d6a447ad6ff2/bravado_core/model.py#L888

Packages installed:
[code]